<md-tabs md-dynamic-height md-border-bottom style="height: 100%;">
  <md-tab label="Répartition par lot">
    <md-content class="md-padding" style="background-color: white;">
      <repart-lot></repart-lot>
    </md-content>
  </md-tab>
  <md-tab label="Prévisionnel-Réel">
    <div class="md-padding" style="background-color: white;">
      <prevreel></prevreel>
    </div>
  </md-tab>
  <md-tab label="Résultat">
    <md-content class="md-padding" style="background-color: white;">
        <resultats></resultats>
    </md-content>
  </md-tab>
  <md-tab label="Chantier">
    <md-content class="md-padding" style="background-color: white;">
        <general></general>
    </md-content>
  </md-tab>
  <md-tab label="Administration">
    <md-content class="md-padding" style="background-color: white;">
        <admin style="height: 100%;"></admin>
    </md-content>
  </md-tab>
</md-tabs>
