<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Ajouter une facture</h2>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="$ctrl.createNew($event)">
      <md-icon>note_add</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="$ctrl.cancelEdition($event)">
      <md-icon><i class="material-icons">highlight_off</i></md-icon>
    </md-button>
  </div>
</md-toolbar>
<div layout-padding style="background-color: white">
  <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
    <i class="material-icons">error_outline</i>
    <span>&nbsp; All fields are required.</span>
  </p>
  <form name="item.form">
    <div layout="row" class="input-row">
      <md-input-container flex="30">
        <label>Montant</label>
        <input ng-model="$ctrl.editedItem.montant">
      </md-input-container>
      <md-input-container flex="70">
        <label>Enter date</label>
        <md-datepicker md-hide-icons="triangle" ng-model="$ctrl.editedItem.date"></md-datepicker>
      </md-input-container>
    </div>
    <div layout="row" class="input-row">
      <md-input-container flex>
        <label>Description</label>
        <input ng-model="$ctrl.editedItem.description">
      </md-input-container>
    </div>
  </form>
  <div style="text-align: right;">
    <md-button class="md-raised md-warn" ng-click="$ctrl.addItem()" ng-disabled="item.form.$invalid">Ajouter</md-button>
  </div>
</div>
